@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(https://fonts.gstatic.com/s/carroisgothic/v4/GCgb7bssGpwp7V5ynxmWy-RYAdd4IhfhHjBEc43Trp8.woff2) format('woff2');
}

